In [1]:
import sqlite3 as s

In [2]:
con=s.connect("ContactManagementSystem11.db")

In [3]:
c=con.cursor()

In [4]:
def create_tbl(tblq):
    c.execute(tblq)
    con.commit()
tblq='''create table if not exists contact_tbl
               (
                      fname text,
                      lname text,
                      contactno int,
                      email text,
                      city text
               )'''

In [5]:
def validate_inputdata():
    tq='''
               create trigger if not exists validate_phoneno
               before insert on contact_tbl
               BEGIN
                   SELECT
                       CASE
                           WHEN LENGTH(NEW.contactno) != 10 THEN
                           RAISE(ABORT, 'Invalid Phone Number,Phone Number Should Be 10 Digits')
                       END;
               END; 
            
            '''
    c.execute(tq)
    
    t1q=''' 
                create trigger if not exists validate_email
                before insert on contact_tbl
                BEGIN
                    SELECT
                        CASE
                            WHEN NEW.email NOT LIKE '%_@___%.__%' THEN
                            RAISE(ABORT,'Invalid Email Id , Email Id Should Be In Proper Format')
                        END;
                END;
            '''
    c.execute(t1q)

In [6]:
def logtbl_for_insert(inslogq,t2q):
    c.execute(inslogq)
    c.execute(t2q)
    con.commit()
inslogq='''create table if not exists insertlog_tbl
                (
                        fname text,
                        lname text,
                        contactno int,
                        datetime text,
                        operation_name text
                )'''
t2q='''create trigger if not exists insert_trigger
      after insert on contact_tbl
      begin
          insert into insertlog_tbl
          values(NEW.fname,NEW.lname,NEW.contactno,datetime('now','localtime'),'INSERT');
      end;'''

In [7]:
def logtbl_for_delete(dellogq,t3q):
    c.execute(dellogq)
    c.execute(t3q)
    con.commit()
dellogq='''create table if not exists deletelog_tbl
                (
                        fname text,
                        lname text,
                        contactno int,
                        datetime text,
                        operation_name text
                )'''
t3q='''create trigger if not exists del_trigger
       after delete on contact_tbl
       begin
           insert into deletelog_tbl 
           values(OLD.fname,OLD.lname,OLD.contactno,datetime('now','localtime'),'DELETE');
       end;'''

In [9]:
def logtbl_for_update(uplogq,t4q):
    c.execute(uplogq)
    c.execute(t4q)
    con.commit()
uplogq='''create table if not exists updatelog_tbl
           (
                        fname text,
                        lname text,
                        contactno int,
                        newcontactno int,
                        datetime text,
                        operation_name text
            )'''
t4q='''create trigger if not exists update_trigger
       after update on contact_tbl
       begin
           insert into updatelog_tbl
           values(OLD.fname,OLD.lname,OLD.contactno,NEW.contactno,datetime('now','localtime'),'UPDATE');
       end;'''

In [10]:
def insert_record():
    c.execute('''insert into contact_tbl values('Jay','Patel',9867890543,'jay@gmail.com','Mumbai'),
                                               ('Shree','Rajput',9812390543,'shree@gmail.com','Delhi'),
                                               ('Ram','Rajput',9867890999,'ram@gmail.com','Delhi'),
                                               ('Shiv','Vyas',9998909992,'shiv@gmail.com','Surat'),
                                               ('Ganesha','Patel',9866660543,'ganesha@gmail.com','Surat')''')

In [11]:
def update_record():
    upq=""" update contact_tbl
            set contactno=6353459898
            where fname='Shiv' and lname='Vyas';
        """
    c.execute(upq)

In [12]:
def delete_record():
    delq="""
             delete from contact_tbl
             where fname='Shree' and lname='Rajput';
         """
    c.execute(delq)

In [13]:
def printrecords_of_maintbl():
    print("\n\n\t\t Records In Main Contact Table \n---------------------------------------------------------------------------")  
    q="select * from contact_tbl;"
    c.execute(q)
    records=c.fetchall()
     # For Printing headers
    header = "{:^12} {:^12} {:^12} {:^25} {:^12}".format('First Name', 'Last Name', 'Contact No', 'email','city')
    print(header,"\n---------------------------------------------------------------------------")

    # For Printing records
    for re in records:
            record_line = "{:^12} {:^12} {:^12} {:^25} {:^12}".format(re[0], re[1], re[2], re[3], re[4])
            print(record_line)

In [14]:
def records_of_inslog_tbl():
    print("\n\n\t\t Insert Log Table Details \n-------------------------------------------------------------------------------------------")  
    q1="select * from insertlog_tbl;"
    c.execute(q1)
    records1=c.fetchall()
    # For Printing headers
    header = "{:^12} {:^12} {:^12} {:^25} {:^25}".format('First Name', 'Last Name', 'Contact No', 'Date-Time','Operation Name')
    print(header,"\n-------------------------------------------------------------------------------------------")

    # For Printing records
    for re in records1:
            record_line1 = "{:^12} {:^12} {:^12} {:^25} {:^25}".format(re[0], re[1], re[2], re[3], re[4])
            print(record_line1)

In [15]:
def records_of_dellog_tbl():
    print("\n\n\t\t Delete Log Table Details \n-----------------------------------------------------------------------------------------")  
    q2="select * from deletelog_tbl;"
    c.execute(q2)
    records=c.fetchall()
     # For Printing headers
    header = "{:^12} {:^12} {:^12} {:^25} {:^25}".format('First Name', 'Last Name', 'Contact No', 'Date-Time','Operation Name')
    print(header,"\n-----------------------------------------------------------------------------------------")

    # For Printing records
    for re in records:
            record_line = "{:^12} {:^12} {:^12} {:^25} {:^25}".format(re[0], re[1], re[2], re[3], re[4])
            print(record_line)

In [16]:
def records_of_uplog_tbl():
    print("\n\n\t\t Update Log Table Details \n------------------------------------------------------------------------------------------------------")  
    q3="select * from updatelog_tbl ;"
    c.execute(q3)
    records=c.fetchall()
     # For Printing headers
    header = "{:^12} {:^12} {:^12} {:^25} {:^12} {:^25}".format('First Name', 'Last Name', 'Old Contact No', 'New Contact No','Date-Time','Operation Name')
    print(header,"\n------------------------------------------------------------------------------------------------------")

    # For Printing records
    for re in records:
            record_line = "{:^12} {:^12} {:^12} {:^25} {:^12} {:^25}".format(re[0], re[1], re[2], re[3], re[4], re[5])
            print(record_line)

In [17]:
def mainfunc():
    create_tbl(tblq)
    validate_inputdata()
    logtbl_for_insert(inslogq,t2q)
    logtbl_for_delete(dellogq,t3q)
    logtbl_for_update(uplogq,t4q)
    insert_record()
    update_record()
    delete_record()
    printrecords_of_maintbl()
    records_of_inslog_tbl()
    records_of_dellog_tbl()
    records_of_uplog_tbl()
mainfunc()

		 Records In Main Contact Table
---------------------------------------------------------------------------
 First Name   Last Name    Contact No            email               city
---------------------------------------------------------------------------
    Jay         Patel      9867890543        jay@gmail.com          Mumbai
    Ram         Rajput     9867890999        ram@gmail.com          Delhi
    Shiv         Vyas      6353459898       shiv@gmail.com          Surat
  Ganesha       Patel      9866660543      ganesha@gmail.com        Surat


		 Insert Log Table Details
-------------------------------------------------------------------------------------------
 First Name   Last Name    Contact No          Date-Time              Operation Name
-------------------------------------------------------------------------------------------
    Jay         Patel      9867890543     2023-08-18 10:51:35             INSERT
   Shree        Rajput     9812390543     2023-08-18 10:51:35             INSERT
    Ram         Rajput     9867890999     2023-08-18 10:51:35             INSERT
    Shiv         Vyas      9998909992     2023-08-18 10:51:35             INSERT
  Ganesha       Patel      9866660543     2023-08-18 10:51:35             INSERT


		 Delete Log Table Details
-----------------------------------------------------------------------------------------
 First Name   Last Name    Contact No          Date-Time              Operation Name
-----------------------------------------------------------------------------------------
   Shree        Rajput     9812390543     2023-08-18 10:51:35             DELETE


		 Update Log Table Details
------------------------------------------------------------------------------------------------------
 First Name   Last Name   Old Contact No      New Contact No        Date-Time        Operation Name
------------------------------------------------------------------------------------------------------
    Shiv         Vyas      9998909992         6353459898         2023-08-18 10:51:35          UPDATE

In [18]:
"""def insert_record():
    c.execute('''insert into contact_tbl values('Jay','Patel',9867890543,'jay@gmail.com','Mumbai'),
                                               ('Shree','Rajput',9812390543,'shree@gmail.com','Delhi'),
                                               ('Ram','Rajput',9867890999,'ram@gmail.com','Delhi'),
     #only write 3 digits in phone number      ('Shiv','Vyas',999,'shiv@gmail.com','Surat'), 
                                               ('Ganesha','Patel',9866660543,'ganesha@gmail.com','Surat')''')"""

"def insert_record():\n    c.execute('''insert into contact_tbl values('Jay','Patel',9867890543,'jay@gmail.com','Mumbai'),\n                                               ('Shree','Rajput',9812390543,'shree@gmail.com','Delhi'),\n                                               ('Ram','Rajput',9867890999,'ram@gmail.com','Delhi'),\n     #only write 3 digits in phone number      ('Shiv','Vyas',999,'shiv@gmail.com','Surat'), \n                                               ('Ganesha','Patel',9866660543,'ganesha@gmail.com','Surat')''')"

In [19]:
""" 
so it give below error

ERROR :- 

    Traceback (most recent call last):
  File "D:\PythonPractice\w4.py", line 187, in <module>
    mainfunc()
  File "D:\PythonPractice\w4.py", line 181, in mainfunc
    insert_record()
  File "D:\PythonPractice\w4.py", line 112, in insert_record
    c.execute('''insert into contact_tbl values('Jay','Patel',9867890543,'jay@gmail.com','Mumbai'),
sqlite3.IntegrityError: Invalid Phone Number,Phone Number Should Be 10 Digits

"""

' \nso it give below error\n\nERROR :- \n\n    Traceback (most recent call last):\n  File "D:\\PythonPractice\\w4.py", line 187, in <module>\n    mainfunc()\n  File "D:\\PythonPractice\\w4.py", line 181, in mainfunc\n    insert_record()\n  File "D:\\PythonPractice\\w4.py", line 112, in insert_record\n    c.execute(\'\'\'insert into contact_tbl values(\'Jay\',\'Patel\',9867890543,\'jay@gmail.com\',\'Mumbai\'),\nsqlite3.IntegrityError: Invalid Phone Number,Phone Number Should Be 10 Digits\n\n'